html, body {
    margin: 0;
}

#demo_container {
    position: relative;
}

.surface {
    height: calc(100vh / 2);
}

.acrylic {
    background-color: hsla(0, 0%, 0%, 0.3);
    backdrop-filter: saturate(160%) blur(60px);
    height: 300px;
    left: calc((765px - 500px) / 2);
    overflow: hidden;
    position: absolute;
    top: calc((50vh - 300px) / 2);
    width: 500px;
}